/*
   (C) Packt Publishing Ltd, 2017-2018
    Created on : Dec 25, 2017, 11:17:42 PM
    Author     : sgrinev
*/

.square-button {
    -fx-border-color: green;
    -fx-border-width: 5;
    -fx-min-height: 50;
    -fx-max-height: 50;
    -fx-min-width: 50;
    -fx-max-width: 50;
    -fx-font: italic 40 Arial ;
}